<div class="container" *ngIf="formComputer" [formGroup]="formComputer">
  <h2>ID: {{ computerId }}</h2>
  <mat-form-field>
    <mat-label>Marca</mat-label>
    <input
      matInput
      placeholder="{{ computer?.brand }}"
      formControlName="brand"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Modelo</mat-label>
    <input
      matInput
      placeholder="{{ computer?.model }}"
      formControlName="model"
    />
  </mat-form-field>

  <button
    mat-fab
    extended
    color="primary"
    class="fit-btn"
    (click)="updateComputer()"
  >
    <mat-icon>save</mat-icon>
    Actualizar
  </button>
</div>
